<nav class="navbar navbar-expand-lg navbar-dark">
  <h2 id="runningheader">Instagram</h2>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <form class="form-inline my-2 my-lg-0" method="POST">
    {% csrf_token %}
    <input
      class="form-control mr-sm-2 input"
      name="searched"
      type="text"
      placeholder="Search"
      aria-label="Search"
    />
  </form>
</nav>
